
{% extends "base.html" %}
{% load static %}
{% block css_files %}
<link rel="stylesheet" href="{% static "blog/css/style.css" %}">
{% endblock css_files %}
{% block title %}HomePage{% endblock title %}
{% block content %}

<div class="container mt-3">
    <div class="row">
        <div class="col-3">
          {% include "partials/_categories.html" %}
        </div>
        <div class="col-9">
            <h1>HomePage</h1>
            <hr>
            {% for blog in blogs  %}
              {% include "blog/partials/_blog.html" %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}

{% block js_files %}
<script src="{% static "blog/js/script.js" %}"></script>
{% endblock js_files %}